body, input, select, textarea, button, .ui-btn { font-family: 'Consolas', 'Arial' ,'나눔고딕', '돋움'; }

body::-webkit-scrollbar {
	width: 6px;
	background-color: #000;
}
body::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 3px;
}
div::-webkit-scrollbar {
	width: 6px;
	background-color: #000;
}
div::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 3px;
}

.ui-icon-play:after {
	background-image: url("../images/icons-svg/sm_play.svg");
	background-size: contain;
}

.header span {
	color: #999;
	font-size: smaller;
	font-weight: lighter;
}
.header .ui-btn {
	width: 2em;
	height: 2em;
	top: 50%;
	margin-top: -1em;
	border: 0;
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
}
.ui-btn-nomargin {
	margin: 0;
}
.ui-btn-icon-notext.ui-btn-left {
	left: .7em;
}
.ui-btn-icon-notext.ui-btn-right {
	right: .7em;
}


/* left panel nav menu*/
#leftpanel .ui-collapsible-set {
	margin: 0;
}
#leftpanel .ui-listview > li h2 {
	margin: 0;
}
#leftpanel .border_none {
    border: 0px none;
}
#leftpanel .ui-listview > .ui-li-static {
	padding: 0em 1em;
}

.navmenu-panel .no {
	color: #999;
	font-size: small;
	font-weight: lighter;
}


/* content */
.ui-content td {
	padding: 0px;
}
.custom-label-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -3.4em;
}
.custom-label-flipswitch.ui-flipswitch .ui-flipswitch-off {
	text-indent: 0.5em;
}
#result {
	cursor: pointer;
}
#result span {
	background-color: #c33;
}
.by {
	color: #999;
	font-size: smaller;
	font-weight: lighter;
	padding-right: 0.5em;
}

/* right panel */
#rightpanelSetting .ui-panel-inner {
	padding: 0;
}
#rightpanelSetting .ui-listview > .ui-li-static {
	padding: 0 1em;
}
#rightpanelSetting li table {
	width: 100%;
}

#rightpanel .ui-controlgroup-controls {
	float: none; 
	display: block;
	width: 100%;
}
#rightpanel .ui-radio{
width: 25%;
}
#rightpanel .ui-radio label{
	text-align: center;
	white-space: nowrap;
	font-size: smaller;
	padding-left: 0;
	padding-right: 0;
}

/* rightpanel list */
.listbtn {
	width: 3em;
	height: 3em;
	padding: 0;
	margin: .3em;
	line-height: 3.2em;
}
.listbtn-marked {
	background-image: url("/images/icons-svg/sm_star.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.controlgroup-textinput {
	padding-top: .22em;
	padding-bottom: .22em;
	width: 85%;
}
.ui-controlgroup-controls {
	width: 100%;
}

#btnSubmit {
	-webkit-border-radius: .3125em;
	border-radius: .3125em;
}
