.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/nbproject/

.*.swp
.*.swo
*.mp3
*.mp4
demos
data/1001
data/*/*.js
data/*/mp3
logs
.user.dat
define.php
